.react-card-flip {
	display: inline-block !important;
}

.react-card-front {
	position: relative !important;
	width: 270px !important;
}

.member-card {
	cursor: pointer;
	margin: 10px;
	width: 250px;
	height: 170px;
}